/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata");

* {
  font-family: "Literata", serif;
}

body {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Main content */
/* hide sections until they are shown via the click events */
#questions,
#final,
#highscores,
#yay {
  display: none;
}

/* Remove bullet points from answers list */
ul.nobullets {
  list-style-type: none;
}

/* Answer button */
.ansBtn,
.ansBtn:hover,
.ansBtn:active,
.ansBtn:focus,
.ansBtn:active:focus {
  box-shadow: none;
  outline: none;
  background-color: #12749f;
}

/* Mobile */
@media (max-width: 480px) {
  body {
    background-color: #bff6e3;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  body {
    background-color: #bff6e3;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  body {
    background-color: #bff6e3;
  }
}
